/* Lien vers les autres pages */
@import url(styleB1.css);
@import url(styleB1contact.css);
@import url(header.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{   /* Palette */
--vertfonce:#057858;
--rouge:#DB2727;
--vertbtn:#0DB981;
--vertdeau:#E0FCEE;
--grisbtn:#F3F4F6;
--bleufooter:#1F2937;
font-family: "Inter", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 84,72%;
   
}
 button,a:hover{
    cursor: pointer;
 }