
.header {
    width: 100%;
    background-color: var(--vertfonce); 
    display: flex;
    justify-content: space-between; /* espacemeent !!*/
    padding: 1rem 2rem ;
}

header p{
    font-weight: 500;
    font-size: 21px;
    color: white;
}
header a{
    font-weight: 200;
}

.logo {
    width: 40px;
    height: 40px;
    padding-right: 1.5vw;
}

/* Desktop Navigation */
.nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-desktop {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu-desktop a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.redbtn{
    display: flex;
    align-items: center;
    background-color: var(--rouge);
    color: white;
    font-size: 15px;
    border: solid 5px var(--rouge);
    }


    .redbtn:hover{
        background-color: coral;
        border: solid 5px coral;
    }
    
    .redbtn:focus{
        background-color: brown;
        border: solid 5px brown;
    }
    
    .redbtn img,
    form button img{
    height: 21px;
    padding-right: 8px;
    }

/* Mobile Navigation */
.nav-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu-header p,.nav-desktop p{
    display: flex;
    align-items: center;    
}

.croix{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/* Masque le menu par défaut */
#menu{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--vertfonce);
    padding: 1rem;
    position: relative; /* Pas de position absolue pour qu'il prenne de l'espace */
    width: 100%;
    z-index: 1000;
}

/* Classe pour afficher le menu et le décaler */
#menu.show {
    display: flex; /* Le menu s'affiche */
}

/* Décale le contenu principal quand le menu est ouvert */
body.menu-open {
    transition: margin-top 0.3s ease; /* Ajoute une animation douce */
}


.menu a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: 100%;
}

/* Menu visible */
.menu.show {
    display: flex;
}

/* Responsive */
@media (max-width: 1024px) {
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: flex;
    }
    .header{
        padding: 0.5remé;
    }
}





